<div class="page-header">
  <h1>
    Registered Attendees By Session
  </h1>
</div>

<div class="row padding-inside-top-sm padding-inside-bottom-md">
  <div class="col-md-12">
    <h4> Breakout Sessions A: Breaking New Ground  </h4>
  </div>
</div>


<div class="row">
  <div class="col-md-12 padding-inside-bottom-sm ">
    <table class="table table-striped table-hover">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Company</th>
        <th>Subject Matter Interest</th>
        <th>Industry Interest</th>
        <th>Job Inquiry</th>
        <th>Other</th>
        <th></th>
      </tr>
      <% @enrollments1.each do |enrollment| %>
      <tr>
        <td><%= User.find_by(:id => enrollment.userenroll_id).try(:first_name) %></td>
        <td><%= User.find_by(:id =>enrollment.userenroll_id).try(:last_name) %></td>
        <td><%= User.find_by(:id =>enrollment.userenroll_id).try(:company_name) %></td>
        <td><%= enrollment.content %></td>
        <td><%= enrollment.industry %></td>
        <td><%= enrollment.job %></td>
        <td><%= enrollment.other %></td>
        <td>
          <a href="<%= User.find_by(:id =>enrollment.userenroll_id).try(:linked_in_url) %>" class="btn btn-primary">View LinkedIn</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>






<div class="row padding-inside-top-sm padding-inside-bottom-md">
  <div class="col-md-12">
    <h4> Breakout Sessions A: Structural Integrity  </h4>
  </div>
</div>

<div class="row">
  <div class="col-md-12 padding-inside-bottom-sm">
    <table class="table table-striped table-hover">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Company</th>
        <th>Subject Matter Interest</th>
        <th>Industry Interest</th>
        <th>Job Inquiry</th>
        <th>Other</th>
        <th></th>
      </tr>
      <% @enrollments2.each do |enrollment| %>
      <tr>
        <td><%= User.find_by(:id => enrollment.userenroll_id).try(:first_name) %></td>
        <td><%= User.find_by(:id =>enrollment.userenroll_id).try(:last_name) %></td>
        <td><%= User.find_by(:id =>enrollment.userenroll_id).try(:company_name) %></td>
        <td><%= enrollment.content %></td>
        <td><%= enrollment.industry %></td>
        <td><%= enrollment.job %></td>
        <td><%= enrollment.other %></td>
        <td>
          <a href="<%= User.find_by(:id =>enrollment.userenroll_id).try(:linked_in_url) %>" class="btn btn-primary">View LinkedIn</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>





<div class="row padding-inside-top-sm padding-inside-bottom-md">
  <div class="col-md-12">
    <h4> Breakout Sessions B: Investing in the Next Level  </h4>
  </div>
</div>

<div class="row">
  <div class="col-md-12 padding-inside-bottom-sm ">
    <table class="table table-striped table-hover">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Company</th>
        <th>Subject Matter Interest</th>
        <th>Industry Interest</th>
        <th>Job Inquiry</th>
        <th>Other</th>
        <th></th>
      </tr>
      <% @enrollments3.each do |enrollment| %>
      <tr>
        <td><%= User.find_by(:id => enrollment.userenroll_id).try(:first_name) %></td>
        <td><%= User.find_by(:id =>enrollment.userenroll_id).try(:last_name) %></td>
        <td><%= User.find_by(:id =>enrollment.userenroll_id).try(:company_name) %></td>
        <td><%= enrollment.content %></td>
        <td><%= enrollment.industry %></td>
        <td><%= enrollment.job %></td>
        <td><%= enrollment.other %></td>
        <td>
          <a href="<%= User.find_by(:id =>enrollment.userenroll_id).try(:linked_in_url) %>" class="btn btn-primary">View LinkedIn</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>





<div class="row padding-inside-top-sm padding-inside-bottom-sm">
  <div class="col-md-12">
    <h4> Breakout Sessions B: Wireframing and Connectivity  </h4>
  </div>
</div>

<div class="row">
  <div class="col-md-12 padding-inside-bottom-sm">
    <table class="table table-striped table-hover">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Company</th>
        <th>Subject Matter Interest</th>
        <th>Industry Interest</th>
        <th>Job Inquiry</th>
        <th>Other</th>
        <th></th>
      </tr>
      <% @enrollments4.each do |enrollment| %>
      <tr>
        <td><%= User.find_by(:id => enrollment.userenroll_id).try(:first_name) %></td>
        <td><%= User.find_by(:id =>enrollment.userenroll_id).try(:last_name) %></td>
        <td><%= User.find_by(:id =>enrollment.userenroll_id).try(:company_name) %></td>
        <td><%= enrollment.content %></td>
        <td><%= enrollment.industry %></td>
        <td><%= enrollment.job %></td>
        <td><%= enrollment.other %></td>
        <td>
          <a href="<%= User.find_by(:id =>enrollment.userenroll_id).try(:linked_in_url) %>" class="btn btn-primary">View LinkedIn</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
