<div class="page-header">
  <h3>Breakout Session #<%= @breakout_session.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Breakout session name</dt>
      <dd><%= @breakout_session.breakout_session_name %></dd>

      <dt>Description</dt>
      <dd><%= @breakout_session.description %></dd>
      
      <dt>Speaker</dt>
      <dd><%= @breakout_session.speaker %></dd>

      <dt>Starts at</dt>
      <dd><%= @breakout_session.starts_at %></dd>

      <dt>Ends at</dt>
      <dd><%= @breakout_session.ends_at %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/breakout_sessions" class="btn btn-primary">
        Back
      </a>
      <a href="/breakout_sessions/<%= @breakout_session.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_breakout_session/<%= @breakout_session.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
