<!-- Validation failure messages -->
<% if @enrollment.errors.any? %>
  <% @enrollment.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Register for a Breakout Session</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_enrollment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


          <!-- Label and input for userenroll_id -->
      <div class="form-group">
        <label for="userenroll_id" class="control-label">

        </label>

        <input type="hidden" id="userenroll_id" name="userenroll_id" placeholder="Userenroll" class="form-control" value="<%= current_user.id %>">
      </div>

      <!-- Label and input for breakoutenroll_id -->
      <div class="form-group">
        <label for="breakoutenroll_id" class="control-label">
          Choose Breakout Session
        </label>

        <%= select_tag(:breakoutenroll_id, options_from_collection_for_select(Breakoutsession.all, :id, :breakoutname, @enrollment.breakoutenroll_id), :class =>"form-control") %>
      </div>


      <!-- Label and input for content -->
      <div class="checkbox">
        <label for="content">
          <input type="checkbox" id="content" name="content" value="1" <%= "checked" if @enrollment.content %>>
          Interested in subject matter or performing research on this topic
        </label>
      </div>

      <!-- Label and input for industry -->
      <div class="checkbox">
        <label for="industry">
          <input type="checkbox" id="industry" name="industry" value="1" <%= "checked" if @enrollment.industry %>>
          Looking to make industry connections in this field
        </label>
      </div>

      <!-- Label and input for job -->
      <div class="checkbox">
        <label for="job">
          <input type="checkbox" id="job" name="job" value="1" <%= "checked" if @enrollment.job %>>
          Looking for job opportunities
        </label>
      </div>

      <!-- Label and input for other -->
      <div class="checkbox">
        <label for="other">
          <input type="checkbox" id="other" name="other" value="1" <%= "checked" if @enrollment.other %>>
          Other
        </label>
      </div>



      <button class="btn btn-success">
        Create Enrollment
      </button>
      or
      <a href="/enrollments">Cancel</a>
    </form>
  </div>
</div>
