<div class="page-header">
  <h3>Current Enrollment</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">


      <dt>Breakout Session</dt>
      <dd><%= @breakoutsession.find_by(:id =>@enrollment.breakoutenroll_id).breakoutname %></dd>

      <dt>Content Interest</dt>
      <dd><%= @enrollment.content %></dd>

      <dt>Industry Interest</dt>
      <dd><%= @enrollment.industry %></dd>

      <dt>Job Interest</dt>
      <dd><%= @enrollment.job %></dd>

      <dt>Other</dt>
      <dd><%= @enrollment.other %></dd>



    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/enrollments" class="btn btn-primary">
        Back
      </a>
      <a href="/enrollments/<%= @enrollment.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_enrollment/<%= @enrollment.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
