<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

<div class="padding-above-top-sm">
  <% if devise_mapping.rememberable? -%>
    <div class="field padding-above-top-sm">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions padding-above-top-sm">
    <%= f.submit "Log in" %>
  </div>
<% end %>
</div>

<%= render "devise/shared/links" %>
