<!-- Validation failure messages -->
<% if @breakoutsession.errors.any? %>
  <% @breakoutsession.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Breakoutsession #<%= @breakoutsession.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_breakoutsession/<%= @breakoutsession.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for breakout -->
      <div class="form-group">
        <label for="breakout" class="control-label">
          Breakout
        </label>

        <textarea id="breakout" name="breakout" placeholder="Breakout" class="form-control" rows="3"><%= @breakoutsession.breakout %></textarea>
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"><%= @breakoutsession.description %></textarea>
      </div>

      <!-- Label and input for ends_at -->
      <div class="form-group">
        <label for="ends_at" class="control-label">
          Ends at
        </label>

        <input type="text" id="ends_at" name="ends_at" placeholder="Ends at" class="form-control" value="<%= @breakoutsession.ends_at %>">
      </div>

      <!-- Label and input for starts_at -->
      <div class="form-group">
        <label for="starts_at" class="control-label">
          Starts at
        </label>

        <input type="text" id="starts_at" name="starts_at" placeholder="Starts at" class="form-control" value="<%= @breakoutsession.starts_at %>">
      </div>

      <!-- Label and input for speaker -->
      <div class="form-group">
        <label for="speaker" class="control-label">
          Speaker
        </label>

        <textarea id="speaker" name="speaker" placeholder="Speaker" class="form-control" rows="3"><%= @breakoutsession.speaker %></textarea>
      </div>

      <button class="btn btn-warning">
        Update Breakoutsession
      </button>
      or
      <a href="/breakoutsessions/<%= @breakoutsession.id %>">Cancel</a>
    </form>
  </div>
</div>
