<div class="page-header">
  <h1>
    Breakout sessions
    <a href="/breakoutsessions/new" class="btn btn-lg btn-success">New Breakout session</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>ID</th>
        <th>Breakout session name</th>
        <th>Description</th>
        <th>Speaker</th>
        <!--  <th>Starts at</th> -->
        <!-- <th>Ends at</th> -->
        <th>Actions</th>
      </tr>

      <% @breakoutsessions.each do |breakout| %>
      <tr>
        <td><%= breakout.id %></td>
        <td><%= breakout.breakout %></td>
        <td><%= breakout.description %></td>
        <td><%= breakout.speaker %></td>
        <!-- <td><%= breakout.starts_at %></td> -->
        <!-- <td><%= breakout.ends_at %></td> -->


        <td>
          <a href="/breakoutssessions/<%= breakout.id %>" class="btn btn-primary">Show</a>
          <!-- <a href="/breakouts/<%= breakout.id %>/edit" class="btn btn-warning">Edit</a> -->
          <!-- <a href="/delete_breakout/<%= breakout.id %>" class="btn btn-danger" rel="nofollow">Delete</a> -->
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
